/integrados/.settings
/integrados/bin
/integrados/.classpath
/integrados/.project
**/.DS_Store
/integrados/target
/basededatos/Proyecto111mil.mwb.bak
/pruebaSwing/nbproject/private/private.properties
/Cronometro/nbproject/private/private.properties
/pruebaSwing/build
/Cronometro/build
/pruebaSwing/dist
/Cronometro/dist
/pruebaSwing/IntegradosSwing/target/
/pruebaSwing/nbproject/private
/Cronometro/nbproject/private
/Cronometro 2.0/build/
/integrados/src/main/resources/hibernate.cfg.xml
/nbproject/private
/Cronometro 2.0/nbproject/private
/integrados/nbactions.xml
/Memoria/nbproject/private/
/Memoria/build/
